<div id="featured">
	<div class="container">
		<div class="row">
			<div class="12u">
				<section>
					<header>
						<h2>
							<center>Te gusta el modelo o prefieres <a href="/">volver a empezar...</a></center>
						</h2>
					</header>
				</section>
			</div>
			<div class="12u">
				<img src="/images/card02.jpg" width="400">
				<section>
					<p>Tarjeta personal de <%= user_data[:whoinvites] %> para <%= user_data[:guestname] %> para la fiesta que tendŕa lugar el <%= user_data[:eventdate] %>.</p>
					<p>La temática de la fiesta será <%= user_data[:event] %> y se celebrará en <%= user_data[:eventplace] %>.</p>
					<p>Estaría encantado de tenerte en ella.</p>
					<p>Atentamente...</p>
				</section>
			</div>
			<a href="http://localhost:9393/<%= user_data[:card] %>/<%= user_data[:whoinvites] %>/<%= user_data[:guestname] %>/<%= user_data[:eventdate] %>/<%= user_data[:event] %>/<%= user_data[:eventplace] %>">Dirección del Evento</a>
		</div>
	</div>
</div>
