<div id="featured">
	
	<div class="container">
		<div class="idiom_select">
		<a href='/en/'><image class="idiom_img" src="/images/gb.png"></a>
		<a href='/es/'><image class="idiom_img" src="/images/es.png"></a>
	</div>
		<div class="row">
			<div class="12u">
				<section>
					<header>
						<h2><%= I18n.t('first_line') %></h2>
					</header>
					<div class="form">
						<form method="post" action="form">
							<dl>
								<dt>
									<label for="whoinvites"><%= I18n.t('form_host_name') %></label>
								</dt>
								<dd><input type="text" name="whoinvites" required="true" size="30" /></dd>
							</dl>
							<dl>
								<dt>
									<label for="eventdate"><%= I18n.t('form_event_date') %></label>
								</dt>
								<dd><input type="text" name="eventdate" required=true size="10" /></dd>
							</dl>
							<dl>
								<dt>
									<label for="eventplace"><%= I18n.t('form_place') %></label>
								</dt>
								<dd><input type="text" name="eventplace" size="50" /></dd>
							</dl>
							<dl>
								<dt>
									<label for="guestname"><%= I18n.t('form_guest_name') %></label>
								</dt>
								<dd><input type="text" name="guestname" required=true size="30" /></dd>
							</dl>
							<dl>
								<dt>
									<label for="event"><%= I18n.t('form_event') %></label>
								</dt>
								<dd><input type="text" name="event" required=true size="50" /></dd>
							</dl>
							<div id="submit_buttons">
								<button type="reset">Reset</button>
								<button type="submit" value="<%= I18n.t('form_value') %>">Submit</button>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>