<div id="featured">
	<div class="container">
		<div class="row">
			<div class="12u">
				<section>
					<header>
						<h2>
							<center>Estas de acuerdo con este modelo o prefieres <a href="/">elegir otro...</a></center>
						</h2>
					</header>
				</section>
			</div>
			<div class="6u">
				<img src="/images/<%= party_data[:card] %>.jpg" width="400" name="<%= party_data[:card] %>">
			</div>
			<div class="6u">
				<section>
					<p><center>Invitación personal de <%= party_data[:whoinvites] %> para </center></p>
					<p><center><%= party_data[:guestname] %> para la fiesta que tendŕa lugar el <%= party_data[:eventdate] %>.</center></p>
					<p><center>La temática de la fiesta será <%= party_data[:event] %> y se celebrará en <%= party_data[:eventplace] %>, se ruega acudir con vestuario adecuado a la misma.</center></p>
					<p><center>Estaría encantado de tenerte en ella.</center></p>
					<p><center>Atentamente...</center></p>
				</section>
			</div>
			<div class="12u">
				<center><a href="http://localhost:9393/<%= party_data[:card] %>/<%= party_data[:whoinvites] %>/<%= party_data[:guestname] %>/<%= party_data[:eventdate] %>/<%= party_data[:event] %>/<%= party_data[:eventplace] %>">Dirección del Evento</a></center>
			</div>
		</div>
	</div>
</div>
