<div id="featured">
	<div class="container">
		<div class="row">
			<div class="12u">
				<section>
					<header>
						<h2>
							<center><%= I18n.t('title_generator') %><a href="/"><%= I18n.t('title_generator_bis') %></a></center>
						</h2>
					</header>
				</section>
			</div>
			<div class="12u">
				<div class="imagen">
					<img src="/images/<%= party_data[:card] %>.jpg">
					<div class="img_text">
						<p><%= I18n.t('card_host_name') %><%= party_data[:whoinvites] %><%= I18n.t('card_host_name_bis') %></p>
						<p><%= party_data[:guestname] %><%= I18n.t('card_event_date') %><%= party_data[:eventdate] %>.</p>
						<p><%= I18n.t('card_event') %><%= party_data[:event] %><%= I18n.t('card_event_place') %><%= party_data[:eventplace] %><%= I18n.t('card_event_place_bis') %></p>
						<p><%= I18n.t('thanks') %></p>
						<p><%= I18n.t('thanks_bye') %></p>
					</div>
				</div>
				<div class="12u">
				<center>
					<h3>
						<a target="new" href="<%= party_data[:card] %>/<%= party_data[:whoinvites] %>/<%= party_data[:guestname] %>/<%= party_data[:eventdate] %>/<%= party_data[:event] %>/<%= party_data[:eventplace] %>"><%= I18n.t('event_direction') %>
						</a>
					</h3>
				</center>
			</div>
		</div>
	</div>
</div>
