<div id="featured">
	<div class="container">
		<div class="row">
			<div class="12u">
				<section>
					<header>
						<h2><center>Selecciona el modelo de la invitación que desees</h2></center>
					</header>
				</section>
			</div>
			<div class="12u">
				<form action="/cards" method="post">
					<div class="row">
						<div class="4u">
							<section>
								<center>
								<p><img src="/images/card01.jpg" height="200"></p>
								<p><input type="radio" name="card" value="card01"></p>
							</center>
							</section>
						</div>
						<div class="4u">
							<section>
								<center>					
								<p><img src="/images/card02.jpg" height="200"></p>
								<p><input type="radio" name="card" value="card02"></p>
							</center>
							</section>
						</div>
						<div class="4u">
							<section>
								<center>
								<p><img src="/images/card03.jpg" height="200"></p>
								<p><input type="radio" name="card" value="card03"></p>
								</center>
							</section>
						</div>
					</div>
					<input type="hidden" name="whoinvites" value=<%= party_data[:whoinvites] %>>
					<input type="hidden" name="eventdate" value=<%= party_data[:eventdate] %>>
					<input type="hidden" name="eventplace" value=<%= party_data[:eventplace] %>>
					<input type="hidden" name="guestname" value=<%= party_data[:guestname] %>>
					<input type="hidden" name="event" value=<%= party_data[:event] %>>
					<p><center><input type="submit" value="Preview..."></center></p>
				</form>
			</div>
		</div>
	</div>
</div>